body {
background-image:url('/images/coffee-background.jpg');
background-color:#cccccc;
background-attachment: fixed;
}

.browse {
	text-align: center;
}

.container {
  background-color: white;
  color: #140A00;
  opacity: 0.7;
  width:   600px;
  padding: 20px 20px 20px 20px;
  border:  1px black;
}

.navbar-inner {
    color: #FFFFCC;
    background-color: #2B2219;
}

#profile_button {
  position: inline;
  text-align: center;
  padding: 1%;
}

th {
  text-align: left;
}





