<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>


  <title>WiCafe</title>
</head>
<body>
  <nav class="navbar navbar-inner" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand navbar-center" href="/">Welcome to WiCafe</a>
          <div class="header-button">
            <% if logged_in? != false %>
              <a href='/profile'>
                <button class="btn btn-primary">My Profile</button>
              </a>
              <a href="/logout">
                  <button type="submit" class="btn btn-warning">Logout</button>
              </a>
            <% else %>
              <a href='/sign_in'>
                <button class="btn btn-primary">Signup or Log In with Twitter</button>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <%= yield %>
</body>
</html>



